:root {
    --main-btn-color: #272edf;
    --main-font-family: 'Montserrat', sans-serif;
  }


.ilc-wrap{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--main-btn-color);
    height: 100vh;
}
.ilc-wrap p {
    color: white;
    font-size: 3rem;
}

.greet{
    font-family: var(--main-font-family);
    font-size: 3rem;
    width: 40%;
    text-align: center;
    color: white;
}
.btn button{
    cursor: pointer;
    font-size: 2rem;
    border-radius: 20px;
    margin: .5rem;
    padding: .5rem;
}